body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #ffc700;
  height: 700px;
  position: relative;
  border-bottom: 5px solid #000;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.nav-bar div {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-bar div h3 {
  border: 3px solid #000;
  padding: 10px 20px;
  border-radius: 100000px;
}

.countries {
  border: 3px solid #000;
  padding: 10px 20px;
  border-radius: 100000px;
  background: #ffc700;
}

.hero-img {
  width: 85%;
  height: 85%;
  object-fit: contain;
}

.hero-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  padding: 0% 15%;
}

.rounded-img {
  border-radius: 100%;
  width: 150px;
  height: 150px;
  background: #ffffff;
  border: #000 6px solid;
  position: absolute;
  bottom: -75px;
  right: 200px;
}

.main-text {
  text-align: center;
  font-size: 50px;
  padding: 0 450px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.main-text span {
  text-decoration: solid underline #000;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.img-container div {
  display: flex;
  justify-content: space-between;
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  max-width: 100%;
  padding: 0 250px;
}

.img-grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50px;
}

footer {
  background-color: #ffc700;
  height: 400px;
  margin-top: 100px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-bottom-text {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}

footer button {
  background-color: #000;
  color: #ffc700;
  padding: 4px 13px;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  font-size: 30px;
}

.footer-main-container {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
}

.footer-text-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 50%;
  padding-right: 250px;
  margin-top: 20px;
}

.footer-text-subcontainer {
  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
  gap: 20px;
}

.social a {
  color: #000;
  font-size: 20px;
  text-decoration: none;
}

.footer-main-text {
  font-size: 40px;
  max-width: 50%;
  margin: 0;
}
